@import '../../../theme/core.scss';

.root {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 80%;
}

.title {
  .submitButton {
    height: rem(60);
  }

  color: $light-purple;
  font-size: rem(24);
  margin-bottom: rem(40);
}

.submitButton {
  height: rem(48);
  margin-bottom: rem(32);
}

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.regInput {
  color: white;

  input {
    background-color: $dark-gray;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  input:focus {
    background-color: $dark-gray;
    color: white;
  }
}

.textContainer {
  display: flex;
  align-items: center;
}

.linkButton {
  margin-left: rem(4);
  text-decoration: underline;
  color: $purple;
}
