@import '../../theme/core.scss';

.root {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: $dark-gray;
  height: '100vh';
}

.container {
  display: flex;
  height: 100%;
}

.view {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
