@import '../../../theme/core.scss';

.container {
  display: flex;
  height: 60px;
  background-color: $light-blue;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.logOut {
  background-color: transparent;
  height: 30px;
}
