@import '../../../theme/core.scss';

.root {
  padding-top: 50px;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.title {
  .submitButton {
    height: rem(60);
  }

  color: $light-purple;
  font-size: rem(24);
  margin-top: rem(10);
  margin-bottom: rem(10);
}

.submitButton {
  height: rem(48);
  margin-bottom: rem(32);
}

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.textContainer {
  display: flex;
  align-items: center;
}

.linkButton {
  margin-left: rem(4);
  text-decoration: underline;
  color: $purple;
}

table {
  border-collapse: collapse;
  margin: auto;
}

th {
  color: white;
  border-bottom: solid;
  padding-right: 40px;
  min-width: 200px;
}

td {
  color: white;
  min-width: 200px;
}

.searchInput input {
  background-color: $dark-gray;
  color: white;
  width: 500px;
}
