@import '../../../theme/core.scss';

.root {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.rootModule {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.signUpInput {
  width: 100%;
  padding-right: 40px;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.title {
  .submitButton {
    height: rem(60);
  }

  width: 200px;
  color: $light-purple;
  font-size: rem(24);
  margin-top: rem(10);
  margin-bottom: rem(10);
}

.submitButton {
  height: rem(48);
  margin-bottom: rem(32);
}

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.textContainer {
  display: flex;
  align-items: center;
}

.linkButton {
  margin-left: rem(4);
  text-decoration: underline;
  color: $purple;
}

table {
  border-collapse: collapse;
  margin: auto;
}

th {
  color: white;
  border-bottom: solid;
  width: 140px;
}

td {
  color: white;
  width: 140px;
}

tr {
  color: white;
  border-bottom: solid;
  height: 60px;
}

.searchWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.searchInput input {
  background-color: $dark-gray;
  color: white;
  width: 500px;
}

.count {
  color: white;
}
